/* GLOBAL SETTINGS */
:root {
	--shaddow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
	background-color: rgba(232, 233, 239, 1);
}

/* LOBBY PAGE */
#logo {
	display: block;
	width: 100px;
	margin: 0 auto;
}

#form-container {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 30px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: var(--shaddow);
	transform: translate(-50%, -50%);
}

/* ROOM PAGE */
#video-streams {
	width: 95%;
	height: 85vh;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.video-container {
	position: relative;
	min-height: 350px;
	max-height: 100%;
	margin: 2px;
	flex-basis: 500px;
	flex-grow: 1;
	border: 1px solid rgb(75, 93, 172);
	border-radius: 5px;
	background-color: rgba(198, 202, 219, 1);
}

.video-player {
	width: 100%;
	height: 100%;
}

.video-player > * {
	border-radius: 5px;
}

#controls-wrapper {
	position: fixed;
	bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	column-gap: 1em;
}

.control-icon {
	height: 24px;
	width: 24px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #fff;
	box-shadow: var(--shaddow);
}

#button-leave {
	background-color: rgb(255, 80, 80, 1);
}
